body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto;
    background-color: #91ffda;
}

nav > ul {
    display: flex;
    margin-top: 0;
    list-style: none;
    background-image: linear-gradient(to bottom, #bdffe9,#117352);
    margin-bottom: 5vh;
}

nav > ul li {
    padding: 20px;
}

nav > ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.2em;
}

nav > ul li a:hover {
    text-shadow: 2px 2px 4px #000000
}

.bg-image {
    background-image: url('./img/reading-man-bg.webp');
}

#motto {
    font-family: 'Kanit', sans-serif;
    color:aliceblue;
    text-shadow:midnightblue 2px 2px 5px;
}

.vertical-center {
    margin: 20px auto;
    text-align: center;
}

.pic-description-margin {
    margin: 0px 0px;
    padding: 0px;
}

.img-shrink {
    width: 20vw;
}

.rounded-corner {
    border-radius: 10px
}

table, th, td {
    border: 2px;
    border-style: solid;
    border-collapse: collapse;
    padding: 5px;
    background-color: aliceblue;
};