.login__footer {
  width: 980px;
  margin: 0 auto;
  color: #737373;
  padding-top: 30px;
}

.login__row-in-footer {
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
}

.login__language-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 980px;
}

.login__horizontal-line {
  font-size: 1px;
  border-bottom: 1px solid #dddfe2;
  height: 8px;
  margin-bottom: 8px;
}

.login__services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -10px;
}


.login__language-list li,
.login__services-list li {
  padding-left: 10px;

}

.login__language-list li:first-child {
  padding-left: 0px;
}

.login__language-list li button {
  cursor: pointer;
  font-weight: bold;
  height: 18px;
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  padding: 0 8px;
  border: 1px solid;
  vertical-align: middle;
}

.login__text--fb-blue li a {
  color: #385898;
}