.login__navbar {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  width: 100%;
  height: 82px;
  border-bottom: 1px solid #133783;
  font-size: 14px;
  line-height: 1.34;
}

.login__top {
  width: 980px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}

.login__top table td input {
  width: 150px;
  border: 1px solid #ccd0d5;
  border-radius: 0;
  margin: 0;
  padding: 3px 3px 4px 3px;
  border-color: #1d2a5b;
  cursor: text;
}

.login__top table td input:focus {
  outline: none;
}

.login__top table td {
  padding-left: 14px;
  font-size: 12px;
}

.login__top  table tr:nth-child(1) {
  color: #fff;
  font-weight: normal;
  padding-left: 1px;
}

.login__top table tr:nth-child(3) {
  color: #9cb4d8;
  font-weight: normal;
}

.login__top  table tr:nth-child(2) button {
  background-color: #4267b2;
  border-color: #29487d;
  color: #fff;
  border: 1px solid #29487d;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

.login__top  table tr:nth-child(2) button:hover {
  cursor: pointer;
  background-color: #365899;
  border-color: #29487d;
}