body {
    margin: 0 auto;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #636363;
}

.header {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.ci-header {
    color: #e91126;
}


.banner-img {
    width: 100%;
    position: absolute;
    top: -10vh;
    bottom: 100px;
    z-index: -1;
}


/* fixed items */
.fixed-logo-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 3em;
}

.ci-logo {
    color: #fc5424;
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    z-index: 1;
}

.pimclick-logo {
    margin-top: 5em;
}

/* fixed contact modal */
.modal-backdrop {
    background: none;
}

.pimclick-orange-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 2.1rem;
    width: 7em;
    text-align: left;
    background-color: #fc5424;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    
}

.fixed-modal {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 2rem;
    margin-bottom: 0px;
    width: 25%;
    border-color: white;
}

.modal-header-grid {
    display: grid;
    justify-content: space-between;
    background-color: #fc5424;
    grid-template-columns: repeat(2, 1fr);
    color: #ffffff;
}

.modal-header-text {
    grid-column: span 2;
    text-align: justify;
    text-align-last: center;
}

.modal-body {
    border: 1px solid #e6e3e3;
    margin: 1em;
}

.modal-body input,
.modal-body textarea {
    border: 3px solid #e6e3e3;
    border-radius: 5px;
    margin: 0.5em 0;
    height: 2.5em;
    width: 100%;
    padding: 7px;
}

.modal-body textarea {
    resize: none;
    height: 5em;
}

.fixed-contact-btn {
    margin: 0 auto;
    color: #ffffff;
    background-color: #e91126;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.7rem;
}

/* main-container */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17%;
    /* margin: 0 auto;
    max-width: 70%; */

}

/* form */
.form-container {
    position: relative;
    margin: 0 auto;
    margin-top: 65vh;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4rem;
    box-shadow: 5px 5px 20px #bebebe;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
}

.form-container h1 { 
    text-align: center;
    margin: 0 0 1em 0;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.form-grid input,
.form-grid textarea  {
    border: 1px solid #e6e3e3;
    border-radius: 5px;
    margin: 5px;
    height: 2.5em;
    width: 100%;
}

.subject-container {
    grid-column: span 2;
}

.message-container {
    grid-column: span 2;
}

#message {
    height: 12em;
    resize: none;
    overflow: hidden;
}

.form-grid input[type="submit"] {
    grid-column: span 2;
    color: #ffffff;
    background-color: #e91126;
    width: 25%;
    font-size: 1.2em;
    justify-self: center;
}

/* about text area */
.about-text-container {
    text-align: justify;
    text-align-last: center;
    margin: 2em auto;
    font-size: 1.5em;
}

/* showreel area */
.showreel-container {
    display: block;
    width: 100%;
    height: 410px; 
    /* height: auto;
    max-height: 410px; */
    
}

.showreel-overlay {
    width: 100%;
    height: 100%;
    /* height: auto; */
    z-index: -1;    
}

#overlay-trigger {
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

#overlay-trigger:checked + label {
    display: none;
}

#overlay-trigger:checked ~ #showreel-video  {
    display: block;
}

/* #overlay-trigger:checked ~ .youtube-responsive-box #showreel-video  {
    display: block;
} */

#showreel-video {
    display: none;
    z-index: -2;
    width: 100%;
    height: 100%;

    /* 496px (width)/1280px(height) = 0.3875 - added to remove youtube black bars */
    /* padding-top: 38.75%; */
}



/* services grid */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    font-size: 18px;
    background-color: #ffffff;
    padding: 2rem 0;
    min-height: 0px;

}

.mobile-container {
    margin-top: -10%;
    
}

.mobile-size-adjust {
    width: 100%;
    box-sizing: border-box;
} 



/* client portfolio */
.client-container {
    text-align: center;
    margin: auto 25%;
    /* padding: 4rem; */
}
