body {
    margin: 0 auto;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #636363;
}

.header {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

.ci-header {
    color: #e91126;
}

.banner-img {
    width: 100%;
    position: absolute;
    top: -15%;
    bottom: 100px;
    z-index: -1;
}

/* fixed items */
.fixed-logo-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 3em;
    z-index: 1;
    top: 1em
}

.ci-logo {
    color: #fc5424;
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
}

.pimclick-logo {
    margin-top: 5em;
}

/* fixed contact modal */

/* override bootstrap .modal-open in body. This make user able to scroll when the modal is open*/
.modal-open {
    overflow-y: auto; 
}

/* prevent site shading when modal is open */
.modal-backdrop {
    background: none;
}

.pimclick-orange-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 2.1rem;
    width: 7em;
    text-align: left;
    background-color: #fc5424;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;    
    z-index: 1;
}

/* Modal */
.fixed-modal {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0 2rem;
    width: 30%;
    border: 1px solid #e6e3e3;
    border-radius: 3px;
    box-sizing: content-box;
}

.modal-header-grid {
    display: grid;
    background-color: #fc5424;
    grid-template-columns: repeat(2, 1fr);
    color: #ffffff;    
}

.modal-header-text {
    grid-column: span 2;
    text-align: justify;
    text-align-last: center;
    margin: auto;
}

.modal-body {
    border: 1px solid #e6e3e3;
    border-radius: 3px;
    margin: 1em;
}

.modal-content-no-border {
    border: none;
}

.modal-body input,
.modal-body textarea {
    border: 3px solid #e6e3e3;
    border-radius: 5px;
    margin: 0.5em 0;
    height: 2.5em;
    width: 100%;
    padding: 7px;
}

.modal-body textarea {
    resize: none;
    height: 5em;
}

.fixed-contact-btn {
    margin: 0 auto;
    color: #ffffff;
    background-color: #e91126;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.7em;
}

/* main-container */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    /* margin: 0 auto;
    max-width: 70%; */
}

/* form */
.form-container {
    position: relative;
    margin: 0 auto;
    margin-top: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4em;
    box-shadow: 0 0 40px #dbdbdb;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
}

.form-container h1 { 
    text-align: center;
    margin: 0 0 1em 0;
    color: black;
    font-size: 3.5em;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.form-grid input,
.form-grid textarea  {
    border: 1px solid #e6e3e3;
    border-radius: 5px;
    height: 3em;
    width: 100%;
}

.subject-container {
    grid-column: span 2;
}

.message-container {
    grid-column: span 2;
}

#message {
    height: 12em;
    resize: none;
    overflow: hidden;
}

.form-grid input[type="submit"] {
    grid-column: span 2;
    color: #ffffff;
    background-color: #e91126;
    width: 9em;
    font-size: 1.2em;
    font-weight: 900;
    font-stretch: extra-expanded;
    justify-self: center;
}

/* about text area */
.about-text-container {
    text-align: justify;
    text-align-last: center;
    margin: 2em auto;
    font-size: 1.5em;
}

/* showreel area */
.showreel-container {
    display: block;
    width: 100%;
    height: 425px; 
}

.showreel-overlay {
    width: 100%;
    height: auto;
    z-index: -1;  
}

#overlay-trigger {
    display: none;
    margin: 0;
    width: 100%;
    height: auto;
}

#overlay-trigger:checked + label {
    display: none;
}

#overlay-trigger:checked ~ #showreel-video  {
    display: block;
}

#showreel-video {
    display: none;
    z-index: -2;
    width: 100%;
    height: 100%;
}
    /* 496px (width)/1280px(height) = 0.3875 - try adding padding to remove youtube black bars */

/* services grid */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    font-size: 1.2em;
    padding: 2rem 0;
    min-height: 0px;
}

.mobile-container {
    position: absolute;
    right: 0;
    margin-top: 35em;
    z-index: -1;
}

.mobile-size-adjust {
    width: 50vw;
    box-sizing: border-box;
    z-index: -1;
} 


/* client portfolio */
.client-container {
    display: block;
    text-align: center;
    margin: 0 25% 0 25%;
    width: 100%;
    height: auto;
    font-size: 1.5em;
}

.client-container div img {
    width: 100%;
    height: auto;
    margin: 3em 0;
}


@media only screen and (max-width: 480px) {
    /* global */
    .main-container  {
        font-size: 0.8em;
        margin: 10%;
    }

    .header {
        font-size: 1.7em;
    }
    
    /* fixed elements */
    .banner-img {
        top: 0;
    }

    .fixed-logo-container {
        margin-left: 0.5em;
    }
    
    .pimclick-logo {
        display: none;
    }

    .fixed-modal{
        margin: 0;
        width: 100%;
        height: auto;
    }

    .pimclick-orange-button {
        margin-right: 1.1rem;
    }

    /* form */
    .form-container {
        padding: 2em;
        margin-top: 25%;
        font-size: 1.1em;
    }

    .form-container h1 {
        font-size: 1.5em;
    }

    .form-grid {
        display: block;
        width: 100%;
    }

    .form-grid input,
    .form-grid textarea {
        margin-bottom: 1em;
    }

    .form-grid input[type="submit"] {
        display: block;
        margin: 0 auto;
    }

    /* showreel */
    .showreel-container {
        height: 115px;
    }

    .showreel-overlay {
        min-height: 115px;
    }

    /* services */
    .services-container {
        grid-template-columns: 1fr;
        font-size: 1.5em;
    }
    .mobile-container {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* global */
    .main-container  {
        font-size: 0.8em;
        margin: 10%;
    }

    /* fixed elements */
    .banner-img {
        top: 0;
    }

    .fixed-logo-container {
        margin-left: 2em;
    }
    
    .pimclick-logo {
        display: none;
    }

    .fixed-modal{
        margin: 0 1rem;
        width: 50%;
    }

    .pimclick-orange-button {
        margin-right: 1.1rem;
    }

    /* form */
    .form-container {
        margin-top: 25%;
        padding: 3em;
        font-size: 1.1em;
    }
    
    .form-container h1 {
        font-size: 2.5em;
    }

    /* showreel */
    .showreel-container {
        height: 230px;
    }

    .showreel-overlay {
        min-height: 230px;
    }

    /* servic

    /* services */
    .services-container {
        font-size: 0.8em;
    }

    .mobile-container {
        margin-top: 40em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .banner-img {
        top: 0;
    }
    
    .showreel-container {
        height: 365px;
    }

    .showreel-overlay {
        min-height: 365px;
    }

    .mobile-container {
        margin-top: 40em;
    }
}